books {

     color: white;

     background-color : rgb(134, 184, 177);

     width: 100%;

}

 heading {

     color: rgb(76, 0, 218);

     font-size : 40px;

     background-color : rgb(219, 108, 18);

}

 heading, title, author, publisher, edition, price {

     display : block;

}

 title {

     font-size : 25px;

     font-weight : bold;

}